#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.scrollable-div {
  max-height: 800px; /* Set the maximum height */
  overflow-y: auto;  /* Enables vertical scrolling if the content exceeds the max height */
  overflow-x: auto; /* Disables horizontal scrolling */
  border: 1px solid #110505;
}

.scrollable-div2 {
  max-height: 200px; /* Set the maximum height */
  overflow-y: auto;  /* Enables vertical scrolling if the content exceeds the max height */
  overflow-x: auto; /* Disables horizontal scrolling */
  border: 1px solid #110505;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add this to your CSS file */
.responsive-button {
  margin-right: 5px;
  font-size: 16px; /* Default font size for larger screens */
}

@media (max-width: 768px) {
  .responsive-button {
    font-size: 12px; /* Smaller font size for mobile */
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.product-card {
  max-width: 300px;   /* match your Cloudinary width */
  margin: 0 auto;     /* center when alone */
}




.product-description {
  font-size: 12;
}


.icon-description {
  font-size: 12;
}

.sale-date {
  font-size: 10;
}



.product-image {
 
  width: 100%;

  overflow: hidden;
  position: relative;


  object-fit: cover;    /* crop/scale to fill */
  display: block;       /* remove inline gaps */
}

@media (max-width: 576px) {
  .product-image {
    height: auto;
  }
}

@media (max-width: 576px) {
  .sale-date {
    font-size: 10px; /* Minimum size on small screens */
    margin: 0%;
  }
}

@media (max-width: 576px) {
  .product-description {
    font-size: 12px; /* Minimum size on small screens */
    margin: 0%;
  }
}

@media (min-width: 1200px) {
  .product-description {
    font-size: 16px; /* Maximum size on large screens */
    margin: 0%;
  }
}

@media (max-width: 768px) {
  .overlay-container {
    display: none;
  }
}

@media (max-width: 576px) {
  .icon-description {
    font-size: 8px; /* Minimum size on small screens */
    margin: 0%;
  }
}

@media (min-width: 1200px) {
  .icon-description {
    font-size: 10px; /* Maximum size on large screens */
    margin: 0%;
  }
}


@media (max-width: 576px) {
  .select-description {
    font-size: 10px; /* Minimum size on small screens */
    margin: 0%;
  }
}

@media (min-width: 1200px) {
  .select-description {
    font-size: 12px; /* Maximum size on large screens */
    margin: 0%;
  }
}